body {
    background-color: gray;
}

h1 {
    font-family: Times;
    font-size: 24pt;
    color: white;
}

h3 {
    font-family: Times;
    font-size: 18pt;
    color: silver;
}

p {
    font-family: Arial;
    font-size: 15pt;
    line-height: 20pt;
    margin-left: 1in;
}