body { background-color: gray;
}
p { font-style: italic ;
}
#opmaak1 {
    font-family: Arial;
    font-size: 12pt;
    color: white;
}
#opmaak2{
    font-family: Times;
    font-size: 14pt;
    color: yellow;
    font-weight: bold;
}
#opmaak3 {
    font-family: fantasy;
    font-size: 18pt;
}
#opmaak4 {
    font-family: monospace;
    font-size: 14pt;
    font-style:normal;
}