body {
    background-color: #DfDcE3;
}

.form-row-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

.form-row-flex label {
    width: 30vw;
    Display: inline-block;
}