nav li a {
    color: white;
    font: normal Verdana, Geneva, sans-serif;
    text-decoration: none;
    list-style-image: none;
    background: #666;
    padding: 5px 30px;
    border: solid 1px black;
    border-radius:10px 10px 0px 0px;
}

nav li {
    display:inline;
}

nav li a:hover{
    color: #333;
    background: #fff;
    border-bottom:none;
}